/* Menu.module.css */
.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  margin-bottom: 10px;
}

.a {
  text-decoration: none;
  color: var(--color-primary);
}

.a:hover {
  color: var(--color-secondary);
}

.navLink {
  text-decoration: none;
  color: var(--color-primary);
}

.activeNavLink {
  font-weight: bold;
  color: var(--color-secondary);
}
